In [1]:
import pyspark 
from pyspark.sql import SparkSession, functions as F

In [2]:
spark = SparkSession.builder \
        .master("local[*]") \
        .appName("groupby") \
        .getOrCreate()

In [3]:
spark

In [18]:
df_green = spark.read.parquet('Dataset/pq/green/*/*')

In [19]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [20]:
df_green.registerTempTable("green")

In [23]:
green_revenue = spark.sql(
    """
    SELECT PULocationID AS zone, 
            date_trunc('hour', lpep_pickup_datetime) AS hour,

            SUM(total_amount) AS amount,
            COUNT(1) AS number_records
    FROM green
    GROUP BY 1,2
    ORDER BY 3 desc
    """
)

In [24]:
green_revenue.show()

+----+-------------------+------------------+--------------+
|zone|               hour|            amount|number_records|
+----+-------------------+------------------+--------------+
|  75|2020-02-04 16:00:00| 2281.749999999999|           123|
|  75|2020-01-08 16:00:00| 2245.769999999999|           115|
|  75|2020-01-23 16:00:00|2225.6399999999994|           123|
|  17|2021-05-28 16:00:00|           2135.55|             2|
|  75|2020-02-28 17:00:00|2124.8499999999985|           118|
|  75|2020-01-28 16:00:00| 2099.389999999998|           130|
|  75|2020-01-09 17:00:00| 2098.539999999998|           122|
|  75|2020-01-21 16:00:00| 2084.509999999999|           114|
|  75|2020-02-06 16:00:00| 2066.149999999998|           123|
|  75|2020-02-27 17:00:00|2018.7499999999984|           141|
|  75|2020-01-13 17:00:00|2015.6699999999973|           127|
|  75|2020-01-29 16:00:00|1999.0399999999975|           121|
|  75|2020-02-27 18:00:00|1985.0299999999993|           129|
|  75|2020-01-31 16:00:00|1977.5699999999981|           119|
|  75|2020-02-27 16:00:00|1977.3499999999976|           121|
|  75|2020-02-25 16:00:00|1946.5499999999977|           116|
|  75|2020-02-12 16:00:00|1940.8999999999978|           112|
|  75|2020-01-27 16:00:00|1938.4299999999982|           123|
|  75|2020-02-06 17:00:00|1925.6099999999985|           105|
|  75|2020-01-22 16:00:00|1924.3199999999983|           124|
+----+-------------------+------------------+--------------+
only showing top 20 rows

In [ ]:
green_in.show()

In [25]:
df_yellow = spark.read.parquet('Dataset/pq/yellow/*/*')

In [26]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [27]:
df_yellow.registerTempTable("yellow")

In [29]:
yellow_revenue = spark.sql(
    """
    SELECT PULocationID AS zone, 
            date_trunc('hour', tpep_pickup_datetime) AS hour,

            SUM(total_amount) AS amount,
            COUNT(1) AS number_records
    FROM yellow
    GROUP BY 1,2
    ORDER BY 3 desc
    """
)

In [30]:
yellow_revenue.show()

+----+-------------------+------------------+--------------+
|zone|               hour|            amount|number_records|
+----+-------------------+------------------+--------------+
| 193|2020-03-10 09:00:00|1000026.4500000001|             3|
|  41|2020-10-07 10:00:00| 998602.2700000003|            21|
| 166|2020-03-04 17:00:00| 673021.1200000012|           117|
| 142|2020-05-04 20:00:00| 429733.2499999999|            12|
| 170|2020-12-26 13:00:00| 399255.8399999999|            57|
| 142|2020-08-14 17:00:00| 188859.9099999998|            79|
|  41|2020-11-17 06:00:00|151590.91999999998|             8|
| 132|2020-01-05 21:00:00|40236.339999999895|           725|
| 132|2020-01-26 20:00:00|38895.609999999935|           708|
| 132|2020-01-20 18:00:00| 38346.72999999991|           693|
| 132|2020-01-12 22:00:00| 37748.56999999992|           711|
| 132|2020-01-20 16:00:00| 37534.08999999995|           638|
| 132|2020-01-20 22:00:00| 37197.59999999996|           652|
| 132|2020-01-20 20:00:00| 37018.44999999997|           687|
| 132|2020-01-05 20:00:00|36932.819999999934|           688|
| 132|2020-01-20 21:00:00| 36152.19999999993|           647|
| 132|2020-03-02 16:00:00| 36131.56999999978|           609|
| 132|2020-01-27 16:00:00| 35936.08999999994|           588|
| 132|2020-01-10 16:00:00|35720.949999999946|           584|
| 132|2020-02-23 20:00:00| 35705.19999999994|           655|
+----+-------------------+------------------+--------------+
only showing top 20 rows

In [31]:
yellow_investigate = spark.sql("""
    SELECT VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, payment_type, fare_amount,
     extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount

     FROM yellow
     WHERE date_trunc('hour', tpep_pickup_datetime) = "2020-10-07 10:00:00"
     AND PULocationID = 41
     
""")

In [32]:
yellow_investigate.show()

+--------+--------------------+---------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2020-10-07 10:18:42|  2020-10-07 10:28:59|           1|        9.0|  0.0|    0.5|       2.0|         0.0|                  0.3|        14.3|
|       2| 2020-10-07 10:58:03|  2020-10-07 11:01:10|           1|        4.5|  0.0|    0.5|      1.06|         0.0|                  0.3|        6.36|
|       2| 2020-10-07 10:36:45|  2020-10-07 10:56:22|           1|       12.5|  0.0|    0.5|      2.66|         0.0|                  0.3|       15.96|
|       1| 2020-10-07 10:14:10|  2020-10-07 10:20:43|           0|        6.5|  0.0|    0.5|       1.1|         0.0|                  0.3|         8.4|
|       1| 2020-10-07 10:14:10|  2020-10-07 10:20:43|           1|        6.5|  0.0|    0.5|       1.1|         0.0|                  0.3|         8.4|
|       1| 2020-10-07 10:35:56|  2020-10-07 10:40:14|           3|  998310.03|14.78|    0.5|       0.0|         0.0|                  0.3|   998325.61|
|       2| 2020-10-07 10:15:03|  2020-10-07 10:46:06|           1|       22.5|  0.0|    0.5|      0.01|         0.0|                  0.3|       25.81|
|       2| 2020-10-07 10:25:20|  2020-10-07 10:42:28|           1|       14.0|  0.0|    0.5|       2.6|         0.0|                  0.3|        19.9|
|       2| 2020-10-07 10:08:36|  2020-10-07 10:29:11|           1|       17.0|  0.0|    0.5|      4.06|         0.0|                  0.3|       24.36|
|       2| 2020-10-07 10:37:13|  2020-10-07 10:46:49|           1|        8.5|  0.0|    0.5|      1.86|         0.0|                  0.3|       11.16|
|       2| 2020-10-07 10:42:07|  2020-10-07 10:53:24|           1|       10.0|  0.0|    0.5|      2.16|         0.0|                  0.3|       12.96|
|       2| 2020-10-07 10:37:30|  2020-10-07 10:43:33|           1|        6.0|  0.0|    0.5|       2.0|         0.0|                  0.3|         8.8|
|       2| 2020-10-07 10:27:46|  2020-10-07 10:29:05|           4|       -3.0|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -3.8|
|       1| 2020-10-07 10:32:09|  2020-10-07 10:34:30|           2|        3.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         4.3|
|       2| 2020-10-07 10:06:19|  2020-10-07 10:25:29|           0|      23.57|  0.0|    0.5|      2.75|         0.0|                  0.3|       27.12|
|       2| 2020-10-07 10:27:46|  2020-10-07 10:29:05|           2|        3.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         3.8|
|       2| 2020-10-07 10:44:49|  2020-10-07 11:02:40|           2|       14.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        14.8|
|       1| 2020-10-07 10:54:38|  2020-10-07 11:10:53|           1|       14.0|  2.5|    0.5|       4.3|         0.0|                  0.3|        21.6|
|       2| 2020-10-07 10:25:48|  2020-10-07 10:55:13|           0|      24.78|  0.0|    0.5|      2.75|         0.0|                  0.3|       28.33|
|       2| 2020-10-07 10:57:21|  2020-10-07 11:05:10|           2|        7.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.3|
+--------+--------------------+---------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

In [35]:
yellow_revenue.write.parquet('Dataset/report/revenue/yellow', mode='overwrite')

25/04/10 08:39:53 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [36]:
green_revenue.write.parquet('Dataset/report/revenue/green', mode='overwrite')

25/04/10 08:40:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers